# Core
numpy
pandas
scikit-learn
xgboost
joblib

# Deep Learning
torch
torchvision
opencv-python

# Explainability
shap
grad-cam

# Backend
fastapi
uvicorn
pydantic
python-multipart

# MLOps
dvc
evidently
mlflow

# Optimization
onnx
onnxruntime

# Utilities
matplotlib
seaborn
tqdm
pyyaml
